.scene-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.rotate-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
    z-index: 10;
}
