.button {
    padding: 0.8rem 1.2rem;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
    white-space: nowrap;
}

.fullWidth {
    width: 100%;
}

.primary {
    background-color: var(--primary);
    color: var(--white);
}

.primary:hover:not(:disabled) {
    background-color: var(--primary-dark);
}

.light {
    background-color: var(--primary-light);
    color: var(--white);
}

.light:hover:not(:disabled) {
    background-color: var(--primary);
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
