.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 480px;
    height: 480px;
    border: 4px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.board.rotated {
    transform: rotate(180deg);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    transition: transform 0.15s ease-in-out;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.rotated .cell {
    transform: rotate(180deg);
}

.cell.can-select:hover {
    cursor: pointer;
    border-color: #00bfff;
    z-index: 1000;
}

.cell.dark {
    background-color: #654321;
}

.cell.light {
    background-color: #f1c27d;
}

.cell.highlighted {
    border: 2px solid #32cd32;
    z-index: 1000;
}

.cell.highlighted:hover {
    cursor: pointer;
}

.cell.selected {
    border-color: #00bfff;
    z-index: 1000;
}

@media (max-width: 570px) {
    .board {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 438px) {
    .board {
        width: 350px;
        height: 350px;
    }
}