.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeText {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 20px;
    user-select: none;
}
