.pageWrapper {
    position: relative;
    width: 100%;
    height: 92.5vh;
    overflow: hidden;
}

.canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.uiOverlay {
    position: absolute;
    top: 20px;
    left: 20px;
}

.hero h2, .dashboard h2 {
    margin: 0 0 15px 0;
    font-size: 1.3rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
