.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeText {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 20px;
    user-select: none;
}

.contentRow {
    display: flex;
    gap: 24px;
    box-sizing: border-box;
}

@media (max-width: 850px) {
    .contentRow {
        flex-direction: column;
        align-items: center;
    }

    .welcomeText {
        font-size: 1.75rem;
    }
}

@media (max-width: 480px) {
    .welcomeText {
        font-size: 1.5rem;
    }

    .mainContainer {
        padding-top: 40px;
        height: 90%;
    }

    .contentRow {
        gap: 0;
    }
}

