.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.hero h2, .dashboard h2 {
    margin: 0 0 15px 0;
    font-size: 1.3rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
